<div class="slider" [style.height.px]="sliderHeight()">

  <div class="arrow-hit left" (click)="gotoprev()">
    <span class="arrow left">❮</span>
  </div>

  <div class="arrow-hit right" (click)="gotonext()">
    <span class="arrow right">❯</span>
  </div>

  <div class="slides-overflow">
    <div class="slides-container" [ngStyle]="containerStyle()">

      @for (slide of slides(); track $index) {
        <div class="slide" [ngStyle]="getStyle(slide)"></div>
      }

    </div>
  </div>

</div>

<div class="dotscontainer">
  @for (slide of slides(); track $index) {
    <div class="dot"
         [class.active]="$index === currentIndex()"
         (click)="gotoslide($index)">
      ⬤
    </div>
  }
</div>