body{width: 1500px;
text-align: center;
margin: 0 auto;
}
h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 25px;}
.gallery
{
    width: 200px;
    margin-left: 0%;
    float:left;
    text-align: center;

}
.specgit{
    float:left;
    width: 600px;
    font-size: 25px;
    margin-left: 5%;
}
.specpc{
    float:left;
    width: 600px;
    font-size: 25px;
}
.specgit.h2{font-size: 30px;}

li{margin: 10px 0;}
.nbprd{
  background: linear-gradient(to right,
      #FCF434,
      #ffffff,
      #9C59D1,
      #000000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.4px whitesmoke;
}